@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    margin: auto;
    width: 80%;
    
}

header{
    text-align: center;
    padding: 3%;
    
}

.title{
    color: red;
    font-family: 'Fredoka One', cursive;
}

main{
    margin-top: 2%;
}

.card{
    width: calc(100%/3);
    float: left;
    padding: 20px;
}

 .picture{
    background-color: black;
    color: white;
    height: 100px;
    line-height: 20px;
    box-shadow: 5px -6px 19px grey;
}

 img{
    float: left;
    height: 100px;
    padding-right: 10px;
 }

 h3{
    padding-top: 15px;
    font-family: 'Fredoka One', cursive;
    
 }

 .email{
    color: lightblue;
 }

 header p{
    margin-top: 2%;
    
 }

 body{
    width: 80%;
    margin: auto;
 }